@font-face {
  font-family: 'Xcu';
  src: url('assets/fonts/exqt.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

html {
  font-family: "Xcu", Consolas, "Courier New", "Lucida Console", monospace;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}